<h1>Admin info</h1>

<p>Find me in Rostov-on-Don, Russia</p>

<p>
  <strong>Andrew Milchuk</strong>
</p>

<p>
  <strong>Student: LVL 3</strong>
  <strong>Strength - 12</strong>
  <strong>Agility - 5</strong>
  <strong>Intelligence - 9</strong>
  <strong>Skills: Pascal(LVL3), C#(LVL3), C++(LVL4), Haskell(LVL2), Ruby(LVL1)</strong>
</p>
